<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tory.module.hilt">

    <application>
        <meta-data android:name="com.tory.module.hilt.KoinAppLife" android:value="AppLifeModule"/>

        <activity android:name="com.tory.module.hilt.KoinDemoActivity" />
    </application>

</manifest>
