<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.tory.demo.jetpack">

    <application
        android:name=".HApp"
        android:label="JetpackDemo"
        tools:replace="name">

        <activity android:name=".hilt.HiltDemoActivity" >
        </activity>
        <activity android:name=".databinding.DataBindingActivity" />
        <activity android:name=".main.MainActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
