<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tory.library">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".MApp"
        android:allowBackup="true"
        android:supportsRtl="true"
        android:theme="@style/MAppTheme">


        <activity android:name=".ui.pics.PicsActivity" />
    </application>

</manifest>
